.main-topic {
    font-size: 80px;
}

.dashboard-img {
    width: 75%;
}

.dashboard-work-card {
    width: 25%;
}

.dash-card {
    width: 23%;
}

.logo-header {
    width: 25%;
}

.header-behind {
    /*background-image: linear-gradient(to right, #161d31, #171f37, #19223c, #1a2442, #1c2748);*/
    background-color: #181818;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-name: behindSlider;
    /*animation-delay: 5s;*/
}

.header-footer {
    flex-direction: column;
    left: 3%;
    top: 40%;
}

.service-back {
    background-image: url("https://wallpaperaccess.com/full/1761719.jpg");
    background-blend-mode: darken;
    background-attachment: fixed;
    background-size: cover;
}

.f-icon-delay-1 {
    animation-delay: 6s;
}

.f-icon-delay-2 {
    animation-delay: 6.2s;
}

.f-icon-delay-3 {
    animation-delay: 6.4s;
}

.f-icon-delay-4 {
    animation-delay: 6.6s;
}

.header-topic-delay-1 {
    animation-delay: 5s;
}

.header-topic-delay-2 {
    animation-delay: 5.2s;
}

.header-topic-delay-3 {
    animation-delay: 5.4s;
}

.brand-nav-img {
    display: block;
}

/*This is the hero back div animation*/
@keyframes behindSlider {
    from {
        right: 100%;
    }
    to {
        right: 0;
    }
}

@media (max-width:578px) {
    .dashboard-img {
        width: 100%;
    }

    .dashboard-work-card {
        width: 100%;
    }

    .dash-card {
        width: 100%;
    }

    .main-topic {
        font-size: 40px;
    }

    .header-footer {
        flex-direction: row;
        left: 30%;
        top: 90%;
    }

    .logo-header {
        width: 100%;
    }

    .brand-nav-img {
        display: none;
    }
}